<a href="/bright_ideas">Bright Ideas</a>   <a href="/logout">Logout</a>
<hr>
  <p>Name: @ViewBag.UserInfo.FirstName </p>
  <p>Alias: @ViewBag.UserInfo.LastName</p>
  <p>Email: @ViewBag.UserInfo.Email</p>

